@charset "UTF-8";

@font-face
{
    font-family: "futuraBook";
    src: url("../fonts/futuraBook.otf") format("opentype");
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    background-color: #222222;
    font-family: "futuraBook";
    color: white;
}

p
{
    margin: 0;
}

/*-- wrap top main --*/
.wrap
{
    width: 1000px;
    height: 100%;
    margin: auto;
    font-size: 0;
}

.wrap > div
{
    display: inline-block;
    vertical-align: top;
}

/*-- side bar related --*/
.sidebar
{
    width: 200px;
    height: 100%;
    background-color: #191919;
}

.sidebar .button
{
    height: 55px;
    width: 100%;
    font-size: 22px;
    color: white;
    box-sizing: border-box;
    padding: 11px 20px 11px 20px;
    cursor: pointer;
}

.sidebar .button:hover
{
    background-color: rgba(94,93,89,.2);
}

.sidebar .button.selected,.sidebar .button.selected:hover
{
    background-color: #5e5d59;
}

/*-- main panels --*/
.panels
{
    position: relative;
    width: 800px;
    height: 100%;
}

.panels .panel
{
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    font-size: 0;
}

.panel.show
{
    width: 100%;
    height: 100%;
    display: block;
}

.panel div
{
    display: inline-block;
    vertical-align: top;
}

/*-- text input panel --*/
.text-panel .num-col
{
    width: 45px;
    height: 100%;
}

.text-panel .text-col
{
    display: inline-block;
    vertical-align: top;
    width: 755px;
    height: 100%;
    resize: none;
    background-color: #211e19;
    border-style: none;
    color: white;
    font-size: 15px;
    font-family: "Segoe Ui";
    box-sizing: border-box;
}

.text-panel .text-col:focus
{
    outline: none;
}