@charset "UTF-8";

@font-face
{
    font-family: "futuraBook";
    src: url("fonts/futuraBook.otf") format("opentype");
}

body
{
    margin: 0;
    background-color: #222222;
    font-family: "futuraBook";
    color: white;
}

p
{
    margin: 0;
}

.top-menu
{
    min-height: 100px;
    margin-bottom: 30px;
}

.button-hold
{
    display: block;
    padding: 10px;
}

.top-button
{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 3px 12px 3px 12px;
    background-color: #1d1c1a;
    border: 1px solid #9c9992;
    border-radius: 1px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color,border-color .1s,.1s;
    user-select: none;
}

.top-button:hover
{
    background-color:#5e5d59;
    border-color: white;
}

.op-box
{
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 100%;
    background-color: #191919;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 1s;
}

.op-box.collapse
{
    height: 0;
}

.raw-input
{
    width: 600px;
    height: 250px;
    resize: none;
    background-color: #211e19;
    color: white;
    font-size: 15px;
    font-family: "Segoe Ui";
    border: 1px solid #9c9992;
    border-radius: 1px;
    margin: 20px;
}

.raw-input:hover
{
    border-color: white;
}

.raw-input:focus
{
    outline: none;
}